<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <p class="mb-2">
        <span class="text-secondary">日期</span>
      </p>
      {{ scheduleData.date }}
    </div>

    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <p class="mb-2">
          <span class="text-secondary">Memo</span>
        </p>
        {{ scheduleData.memo }}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <p class="mb-2">
          <span class="text-secondary">Reminder</span>
        </p>
        {{ scheduleData.reminder }}
      </div>
    </div>

    <p class="mb-5">
      {{ scheduleData.todo }}
    </p>

    <a class="btn btn-success" href="/schedule/{{ scheduleData._id }}/edit">修改</a>
      <form class="/schedule/{{ scheduleData._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-danger">刪除</button>
      </form>
  </div>
</div>