<div class="row mt-5 col-5 mx-auto">
<h4> 嗨! {{user.name}}</h4>
<h4>歡迎回來，今天是{{ date }}</h4>
<a href="/schedule/new" type="button" class="btn btn-warning mt-3">新增計畫表</a>
</div>

<div class="row mt-5">
  {{#each ScheduleData}}
  <div class="col-7 mx-auto">
    <div class="list-group">
      <li class="row mb-3">
        <div class="col-8 list-group-item list-group-item-light">
          <h2 class="fw-bold">{{ this.memo }}</h2>
          <h5 class="fw-bold">{{ this.date }}</h5>
        </div>
        <div class="col-auto">
          <a class="btn btn-info" href="/schedule/{{ this._id }}">詳細內容</a>
        <form action="/schedule/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
        </div>
      </li>
    </div>
  </div>
  {{/each}}
</div>